.title {
    padding: 2rem;
    color: var(--main);
}

.projects-container {
    margin-top: 2rem;
}

.project {
    display: flex;
    gap: 2rem;
    max-width: 70%;
    margin: auto;
    text-align: left;
    border: 2px solid var(--main);
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    color: var(--main);
}
.project img {
    border-radius: 25px;
    margin: auto;
}

.project-text {
    
}

.footer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.technologies-container {
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.technologie {
    border: 1px solid var(--main);
    padding: 0.5rem;
    border-radius: 20px;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
}
.links-container {
    display: flex;
    gap: 1rem;
}
.links-container a {
    
    text-decoration: none;
    color: var(--main);
    font-size:36px
}
