.title {
    padding: 2rem;
    color: var(--main);
}

.projects-container {
    margin-top: 2rem;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 70%;
    margin: auto;
    text-align: left;
    border: 2px solid var(--main);
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    color: var(--main);
}
.project img {
    border-radius: 25px;
    margin: auto;
}

.project-text {
    
}

.header{ 
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

.header h2 {
    margin: 0;
}

.technologies-container {
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.technologie {
    border: 1px solid var(--main);
    padding: 0.5rem;
    border-radius: 20px;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
}
.links-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link-button {
    padding: 0.5rem;
    border: 1px solid var(--main);
    border-radius: 20px;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none;
    color: var(--main);
}


.link-button svg{
    text-decoration: none;
    color: var(--main);
    font-size:30px;
    margin-right: 10px;
}

.link-button:hover {
    transform: scale(1.1);
    color: var(--bg);
    background-color: var(--main);
}

.link-button:hover svg {
    color: var(--bg);
}
